html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.error {
    background: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    display: inline-block;
    margin-left: 10px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Modal */
.modal-bg,
.modal-window {
    position: fixed;
    top: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
}
.modal-bg{
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: black;
}

.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    width: 40vw;
    min-width: 200px;
    height: 100%;
    min-height: 150px;
    margin-left: -20vw;
    background-color: #fff;
    padding: 40px;
    z-index: 20;
    transform: translateY(-100vh);
}

.active .modal-bg {
    opacity: 1;
    z-index: 10;
}
.active .modal-window {
    transform: translateY(0);
}

.modal-window p,
.modal-window h1,
.modal-window button,
.modal-window div,
.modal-window i {
    display: none;
}

.active .modal-window p,
.active .modal-window h1,
.active .modal-window button,
.active .modal-window div,
.active .modal-window i {
    display: block;
}

.active .success-sub-msg i {
    display: inline;
}

.active .modal-window .fa-check {
    color: #01B500;
    border: 1px solid #808080;
    padding: 30px;
    border-radius: 50%;
    cursor: default;
}

.active .modal-window .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.play-again {
    color: #fff;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #01B500;
    border-radius: 4px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
}

.play-again:hover {
    box-shadow: 0 8px 6px -6px rgba(46, 61, 73, 0.5);
}
/* end of Modal */

/* Responsive */
@media screen and (max-width: 680px) {
    .deck {
        width: 330px;
        min-height: 340px;
        padding: 20px;
    }

    .deck .card {
        height: 60px;
        width: 60px;
    }

    .deck .card.show {
        font-size: 16px;
    }

    .score-panel {
        width: 320px;
    }
}
